$grid-size: 8px;
$icons-path: "./material-icons/" !default;
$transition-speed: 120ms !default;

$ag-grid-palette: (default: (grid-size: $grid-size,
icon-size: 12px,
header-icon-size: 12px,
row-height: $grid-size * 6,
row-border-width: 2px,
header-height: $grid-size * 7,
virtual-item-height: $grid-size * 5,
rich-select-item-height: $grid-size * 6,
cell-horizontal-padding: $grid-size * 3,
toolpanel-indent-size: $grid-size + 24px,
row-group-indent-size: $grid-size * 3 + 24px,
icons-path: $icons-path,
font-family: $base-font-family,
font-size: 14px,
font-weight: normal,
secondary-font-family: $base-font-family,
secondary-font-size: 12px,
secondary-font-weight: normal,
foreground-color: #c5e1ff,
foreground-opacity: 0.5,
secondary-foreground-color-opacity: 0.5,
secondary-foreground-color: rgba(#c5e1ff, 0.5),
disabled-foreground-color-opacity: 0.3,
disabled-foreground-color: rgba(#c5e1ff, 0.3),
background-color: #1d262e,
odd-row-background-color: rgba(#6b8198, 0.05),
border-color: #26303c,
button-background-color: transparent,
icon-color: #c5e1ff,
cell-data-changed-color: lighten(#c5e1ff, 10%),
chip-background-color: #1d262e,
card-background-color: #1d262e,
editor-background-color-color: transparent,
range-selection-background-color: #1d262e,
range-selection-highlight-color: rgba(#1d262e, 0.5),
panel-background-color: transparent,
tool-panel-background-color: transparent,
accent-color: #6cfff8,
primary-color: transparent,
hover-color: #343f4c,
selected-color: #c5e1ff,
icon-opacity: 0.5,
button-text-transform: uppercase,
card-radius: 4px,
card-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4),
focused-textbox-border: 1px solid #c5e1ff,
input-border-width: 0,
input-bottom-border: 1px solid #c5e1ff,
input-height: $grid-size * 3,
use-icons-for-pager-buttons: true,
customize-inputs: true,
customize-buttons: true,
full-width-tabs: true,
value-change-delta-up-color: #6cfff8,
value-change-delta-down-color: #ff4d6a,
value-change-value-highlight-background-color: rgba(#6cfff8, 0.3)),
accent: (row-height: 70px,
foreground-color: #6cfff8,
border-color: #c5e1ff),
shadow: (row-height: 37px,
border-color: transparent,
card-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22),
odd-row-background-color: transparent,
background-color: transparent,
hover-color: lighten(#1d262e, 10%),
font-family: unquote($base-font-family),
secondary-font-family: unquote($base-font-family)));
