<div class="export-data-wrapper">
        <h2>Export {{dataType}} {{data.name}}</h2>
        <div class="export-data-body">
          <div class="progress-wrapper">
            <div class="progress-info">
              <!-- <span class="title" [ngStyle]="{'color': '#6cfff8'}" *ngIf="preparingExport">Preparing...</span> -->
              <span class="title" [ngStyle]="{'color': '#6cfff8'}" *ngIf="exportData?.progress > 0 && exportData?.progress < 100">Processing</span>
              <span class="title" [ngStyle]="{'color': '#6cfff8'}" *ngIf="exportData?.progress == 100">Completed</span>
              <span class="title" [ngStyle]="{'color': '#6cfff8'}" *ngIf="exportData?.progress">{{exportData.progress}}%</span>
            </div>
            <div class="progress-bar-element">
              <span class="export-notice" *ngIf="data.device?.name">{{data.device.name}}</span>
              <div class="progress-bar-over-element">
                <span class="progress-fill" [ngStyle]="{'width': exportData?.progress + '%'}"></span>
                <span class="progress-indicator" *ngIf="exportData?.progress > 0"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="export-data-options">
          <button class="cancel-button" (click)="cancelExport()" >CANCEL</button>
          <a  class="export-button" [href]="fileUrl" download="export.zip" (click)="activeModal.close()">DOWNLOAD</a>
          <!-- <a [href]="fileUrl" download="file.zip" class="export-button" *ngIf="exportData.progress == 100" [ngClass]="{'disable': exportData.progress && exportData.progress < 100 }">DONE</a> -->
        </div>
      </div>
      