@import "../../../../scss//colors.scss";

.export-data-wrapper {
  width: 570px;
  height: 340px;
  background-color: #2f3b4a;
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 250px);

  .datepicker {
    z-index: 1;
  }

  h2 {
    width: 100%;
    height: 41px;
    background-color: #3a4a5c;
    box-shadow: 0px 1px 4px 0 rgba(26, 34, 42, 0.32);
    font-size: 17px;
    text-align: center;
    color: $primary-text;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .export-data-body {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;

    .progress-wrapper {
      width: 100%;

      .progress-info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .title {
          color: rgba(196, 225, 255, 0.4);
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }

    .progress-bar-element {
      height: 30px;
      border-radius: 2px;
      width: 100%;
      background-color: #3a4a5c;
      box-shadow: 0.9px 0.4px 2px 0 rgba(0, 0, 0, 0.25);
      position: relative;
      display: flex;
      align-items: center;

      .export-notice {
        margin-left: 5px;
        color: $primary-text;
        font-size: 13px;
      }

      .progress-bar-over-element {
        position: absolute;
        width: 100%;
        height: 30px;
        display: flex;
        top: 0;
        left: 0;

        .progress-fill {
          height: 30px;
          background-color: #6cfff8;
          opacity: 0.3;
          transition: width 2s;

          &.full {
            opacity: 1;
          }
        }

        .progress-indicator {
          height: 30px;
          width: 4px;
          background-color: #6cfff8;
          box-shadow: 0 0 8px 0 rgba(35, 45, 56, 0.41);
        }
      }
    }
  }

  .export-data-options {
    display: flex;
    margin-top: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;

    .export-btn {
      width: 165px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cancel-btn {
      width: 165px;
    }
  }

  .disable {
    opacity: 0.5;
    cursor: default !important;
    pointer-events: none;
  }
}

.form-data-body {
  display: flex;
  padding: 20px;
  flex-direction: column;

  label {
    font-size: 12px;
  }

  * {
    margin-top: 4px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
}


button:focus,
.btn.focus,
.btn:focus {
  outline: 0;
}

.radio-buttons {
  display: flex;
  margin-left: 5px;

  p {
    margin-right: 15px;
  }
}

.download-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;

  p {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #6cfff8;
    margin-top: 12.5px;
    font-weight: bold;
  }
}
