@import '../../../scss/colors.scss';

.sources-wrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;

  .center-area {
    width: 100%;
    max-height: calc(100vh - 43px);
    position: relative;

    .filters {
      display: flex;
      margin: 15px;
      margin-left: 50px;
      border-bottom: 1px solid #45586d;

      span {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        padding: 0 5px 0 5px;
        color: #52667b;
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
      }

      span.selected-target {
        margin-left: auto;
      }

      span.selected {
        border-bottom: 3px solid $primary-text;
        font-weight: bold;
        color: #c4e1ff;
        padding-bottom: 10px;
      }

      span:first-child {
        margin: 0;
      }

      span:last-child {
        &:after {
          content: '';
        }
      }
    }

    .sources-list-wrapper {
      margin: 15px;
      height: 93%;
      overflow-y: hidden;
      overflow-x: hidden;

      .no-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        opacity: 0.5;

        .desc {
          text-align: center;
          font-size: 18px;
        }
      }

      .sources-list {
        //ul
        margin-bottom: 0;
        height: 98%;

        app-source-cube:first-child {
          margin-top: 0;
        }


      }
    }
  }


  .source-info-wrapper {
    height: 100%;
    position: relative;
  }
}
