.sources-wrapper{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    .sources-list-wrapper{
        margin: 15px;
        width: 85%;
        height: 85vh;
        overflow-y: auto;
        overflow-x: hidden;
        .filters{
            display: flex;
            padding-top: 7px;
            margin-left: 47px;
            span {
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                padding: 0 5px 0 5px;
                color: #52667b;
                border-bottom: 2px solid;
                font-size: 13px;
                margin: 0 5px;
                cursor: pointer;
              }
              span.selected{
                border-bottom: 2px solid #c5e1ff;
                font-weight: bold;
                color: #c4e1ff;
              }
              span:last-child {
                &:after {
                  content: '';
                }    
              }
          }
        .sources-list{
            margin: 0;
            margin-top: 15px;
            //ul
            .no-items{
                margin-left: 10px;
            }
            .source-cube{
                list-style: none;
                display: flex;
                background-color: #364556;
                height: 85px;
                border-radius: 4px;
                -webkit-box-shadow: 0 3px 8px 0 rgba(26, 34, 42, 0.64);
                box-shadow: 0 3px 8px 0 rgba(26, 34, 42, 0.64);
                z-index: 3;
                position: relative;
                margin-top: 8px;
                &:hover{
                    cursor: pointer;
                }

                .source-img{
                    width: 85px;
                }
                .source-img > *{
                    
                        background-color: rgba(98, 131, 164, 0.6);
                        min-height: 82px;
                        height: 100%;
                        width: 82px;
                        border-bottom-left-radius: 4px;
                        border-top-left-radius: 4px;
                }
                .source-cube-wrapper{
                    width: 30%;
                    display: flex;
                    border-right: 1px solid rgba(26, 34, 42, 0.32);
                    .info-wrapper{
                        display: flex;
                        align-items: center;
                        width: 100%;
                    .source-info{
                        display: flex;
                        -webkit-box-orient: vertical;
                        flex-direction: column;
                        padding: 9px 0;
                        margin-left: 14px;
                        justify-content: space-evenly;
                        height: 100%;
                        p{
                            margin: 0;
                        }
                        .source-name{
                            font-family: "Titillium Web";
                            font-weight: 700;
                            font-style: normal;
                            font-size: 14px;
                            color: #c4e1ff;
                            width: 120px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-transform: capitalize;
                            letter-spacing: 0.5px;
                            line-height: 1.2;
                            // color: rgba(196, 225, 255, 0.4);
                        }
                        .source-number{
                            color: #85a0bc;
                            font-size: 11px;
                            letter-spacing: 0.2px;
                        }
                        .source-phone-info{
                            display: flex;
                            align-items: center;
                            color: #85a0bc;
                            font-size: 12px;
                            letter-spacing: 0.2px;
                            line-height: 1;
                            .phone-version{
                                margin-left: 3px;
                            }
                        }
                    }
                }
                    .device-status{
                        display: flex;
                        align-self: center;
                        margin-left: auto;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        justify-content: center;
                        margin-right: 5px;
                        app-svg-icon{
                            margin-right: 4px;
                        }
                        span{
                            font-size: 10px;
                            width: 75px;
                            white-space: pre-wrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-transform: capitalize;
                            text-align: center;
                            line-height: 1.2;
                            margin-top: 6px;
                            letter-spacing: 0.4px;
                        }
                    }
                }
                .source-cube-info{
                    width: 70%;
                    display: flex;
                    height: 100%;
                .before-initializing{
                    width: 96.5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    padding: 0 3%;
                    .top-bar {
                        margin-top: 2%;
                        height: 3px;
                        width: 100%;
                        background-color: #52667b;
                        border-radius: 2px;
                      }
                      .bottom-wrapper {
                        display: flex;
                        justify-content: space-between;
                        .bottom-icons {
                          .icon-placeholder {
                            width: 23px;
                            height: 23px;
                            background-color: #52667b;
                            border-radius: 1px;
                            display: inline-block;
                            margin-right: 3px;
                            margin-top: 3px;
                          }
                        }
                        .time-wrapper {
                          width: 20%;
                          .bottom-time-placeholder-upper {
                            width: 85px;
                            height: 10px;
                            background-color: #52667b;
                            border-radius: 2px;
                            margin-top: 3px;
                            margin-left: auto;
                          }
                          .bottom-time-placeholder-bottom {
                            @extend .bottom-time-placeholder-upper;
                            width: 54px;
                            margin-left: auto;
                          }
                        }
                      }
                }
                .cube-on-off{
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 4.5%;
                    border-left: 1px solid rgba(26, 34, 42, 0.32);
                   }
                //     ::ng-deep .cube-on-off+.tooltip {
                //     pointer-events: none;
                //     margin-bottom: -30px !important;
                //     .arrow {
                //       &:before {
                //         border-top-color: #52667b;
                //         border-right-color: transparent !important;
                //         border-left-color: transparent !important;
                //       }
                //     }
                //     .tooltip-inner {
                //       background-color: #52667b;
                //       border-radius: 0;
                //       text-transform: capitalize;
                //       color: #c5e1ff;
                //       font-size: 10px;
                //       letter-spacing: 0.1px;
                //       width: 100%;

                //     }
                //   }
                }
            }
        }
    }
}


.no-info {
    display: flex;
    align-items: center;
    width: 100%;
    .person-img-wrapper {
      width: 85px;
      overflow: hidden;
      height: 100%;
      .cube-person-img {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        ::ng-deep svg {
          width: 100%;
          height: 100%;
          background-color: #3d4e61;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          color: #52667b;
        }
      }
    }
    .main {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
      div {
        width: 100%;
        height: 12px;
        background-color: #52667b;
        margin-bottom: 8px;
        border-radius: 2px;
      }
      div.second {
        width: 70%;
      }
      div:last-of-type{
        margin-bottom: 0;
      }
      span {
        width: 100%;
        background-color: #ce242400;
        height: 20px;
        margin-bottom: 10px;
        border-radius: 2px;
        word-wrap: unset;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
      }
    }
  }

.shimmer {
    background-image: linear-gradient(90deg, #52667b 0, #5b7289 20%, #52667b 40%, #52667b);
    background-size: 99% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1.5s linear 1ms infinite backwards; //background-image: linear-gradient(90deg, rgba(54, 69, 86, 0.4) 0, rgba(54, 69, 86, 0.4) 20%, rgba(54, 69, 86, 0.4) 40%, rgba(54, 69, 86, 0.4));
    //animation: shimmer 3s linear 1ms infinite backwards;
  }
  
  @keyframes shimmer {
    0% {
      background-position: 100% * 5 100%;
    }
    100% {
      background-position: 100% * 100 100%;
    }
  }