<div class="sources-wrapper">
  <app-left-bar [leftBarData]="leftBarData" (filterByTarget)="filterByTarget($event)"></app-left-bar>
  <div class="center-area">
    <div class="filters">
      <span [class.selected]="filterValue === 'ALL'" (click)="setFilter('ALL')">All sources ({{allSourcesNumber ?
        allSourcesNumber : '0'}})</span>
      <span [class.selected]="filterValue === 'DOWNLOADING'" (click)="setFilter('DOWNLOADING')">Downloading
        ({{downloadingSourcesNumber ? downloadingSourcesNumber : '0'}})</span>
      <span [class.selected]="filterValue === 'ACTIVE'" (click)="setFilter('ACTIVE')">Active ({{acitveSourcesNumber ?
        acitveSourcesNumber : '0'}})</span>
      <span [class.selected]="filterValue === 'LOST_CONNECTION'" (click)="setFilter('LOST_CONNECTION')">Lost Connection
        ({{lostConnectionSourcesNumber ? lostConnectionSourcesNumber : '0'}})</span>
      <span [class.selected]="filterValue === 'TERMINATED'" (click)="setFilter('TERMINATED')">Terminated
        ({{terminatedSourcesNumber ? terminatedSourcesNumber : '0'}})</span>
      <span *ngIf="selectedTarget" class="selected selected-target">{{selectedTarget.name}}</span>
    </div>
    <div class="sources-list-wrapper">
      <ul class="sources-list" *ngIf="filteredSources.length > 0; else emptyScreen">
        <cdk-virtual-scroll-viewport style="height: 100%" itemSize="12">
          <ng-container *cdkVirtualFor="let source of filteredSources; trackBy: trackFn">
            <app-source-cube [source]="source" [showImages]="isImagesShown"></app-source-cube>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </ul>
    </div>
  </div>
  <app-right-bar [events]="events"></app-right-bar>
</div>

<ng-template #emptyScreen>
  <div  class="empty-state no-items" *ngIf="!isLoading; else loading">
    <div class="empty-state-wrapper">
      <app-svg-icon name="no_devices" [size]="150"></app-svg-icon>
      <div class="desc">
        <span class="desc-first">No sources</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <!-- <app-loading></app-loading> -->
</ng-template>