.tooltip-wrapper {
  background-color: #3B4859;
  padding: 15px;
  color: #c5e1ff;
  font-size: 11px;
  letter-spacing: 0.2px;
  position: absolute;
  left: 85px;
  top: -7px;
  &::after {
    content: "";
    display: block;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent #3B4859 transparent transparent;
    margin-left: -10px;
    position: absolute;
    top: 0px;
    left: -10px;
  }

  .tooltip-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 13px;
    text-transform: capitalize;

    .device-name {
      color: rgb(197, 225, 255);
      font-size: 16px;
      width: 150px;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.06;
      letter-spacing: 0.3px;
    }

    i {
      align-self: center;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .tooltip-content {
    .field {
      display: flex;
      flex-direction: column;
      min-height: 21px;

      .field-name {
        min-width: 90px;
        font-size: 10px;
        text-align: left;
        text-transform: uppercase;
        align-self: center;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.4px;
        color: rgba(197, 225, 255, 0.6);
      }

      .field-value {
        margin-left: 5px;
        //width: 65%;
        font-size: 13px;
        text-align: left;
        color: rgba(197, 225, 255, 1);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;

      }
    }
  }
}
