<li *ngIf="source" class="source-cube" [ngClass]="['LOST_CONNECTION', 'TERMINATED', 'TERMINATING'].includes(source?.state) ? 'dimmed' : ''">
  <div class="source-cube-wrapper">
    <div class="info-wrapper" *ngIf="!isNoInfo(); else noInfoSource">
      <div class="source-img">
        <app-svg-icon (click)="changeImg($event)" class="more-photos-icon" name="more-photos" *ngIf="source.profile_pics?.length > 1 "></app-svg-icon>
        <img *ngIf="source.profile_pics; else avatar" [attr.src]="imgUrl | secure | async">
        <ng-template #avatar>
          <app-svg-icon name="avatar" [size]="85" class="cube-person-img"></app-svg-icon>
        </ng-template>
      </div>
      <div *ngIf="source" class="source-info">
        <p class="source-name">{{source.name}}</p>
        <p class="source-number">{{source.device?.number}}</p>
        <div *ngIf="source.device" class="source-phone-info">
          <span class="phone-model">{{source.device.name}} </span>
          <span class="phone-version"> ({{source.device.version}})</span>
          <app-svg-icon ngbTooltip="{{source.device?.battery}}%" container="body" placement="top"
            class="phone-battery" [name]="getBatteryStatus()">
          </app-svg-icon>
          <app-svg-icon class="phone-wifi" [name]="getWifiStatus()">
          </app-svg-icon>
          <!-- <app-svg-icon name="signal_high"></app-svg-icon> -->
        </div>
      </div>
    </div>
    <ng-template #noInfoSource>
      <div class="no-info">
        <div class="person-img-wrapper">
          <app-svg-icon name="avatar" [size]="85" class="cube-person-img"></app-svg-icon>
        </div>
        <div class="main">
          <div class="shimmer"></div>
          <div class="shimmer second"></div>
          <div class="shimmer"></div>
        </div>
      </div>
    </ng-template>
    <div class="device-status">
      <app-svg-icon *ngIf="!isAnimated; else animated" [size]="23" id="{{source.state | lowercase}}" [name]="source.state"></app-svg-icon>
      <lottie-animation-view *ngIf="!timedOut && source.state === 'DOWNLOADING' || source.state === 'SERVER_IS_PROCESSING_DATA'" [options]="source.animatedIcon?.options"
        [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
      </lottie-animation-view>
      <lottie-animation-view *ngIf="!timedOut && source.state === 'ACTIVE'" [options]="source.animatedIcon?.options"
        [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
      </lottie-animation-view>
      <ng-template #animated>
        <lottie-animation-view *ngIf="!timedOut && source.state !== 'DOWNLOADING' && source.state !== 'ACTIVE' && source.state !== 'SERVER_IS_PROCESSING_DATA'"
          [options]="source.animatedIcon?.options" [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
        </lottie-animation-view>
      </ng-template>
      <span class="device-status-text" [ngClass]="source.state === 'LOST_CONNECTION' ? 'red' : (['DOWNLOADING','TOOL_IS_COLLECTING_DATA'].includes(source.state) ? 'green' : '')">
        {{deviceStatusToText()}}</span>
    </div>
  </div>
  <div class="source-cube-info">
    <ng-template #noInfoTasks>
      <div class="before-initializing">
        <div class="top-bar shimmer"></div>
        <div class="bottom-wrapper">
          <div class="bottom-icons" *ngIf="source.tasks?.tasks">
            <span class="icon-placeholder shimmer" *ngFor="let i of source.tasks.tasks"></span>
          </div>
          <div class="time-wrapper">
            <div class="bottom-time-placeholder-upper shimmer">
            </div>
            <div class="bottom-time-placeholder-bottom shimmer"></div>
          </div>
        </div>
      </div>

    </ng-template>
    <div *ngIf="!isNoInfo(); else noInfoTasks" class="after-initializing">
      <div class="cube-progress-bar" *ngIf="source.tasks?.progress_bar">
        <div class="downloading-percent" [ngClass]="source.tasks.progress_bar ? 'green' : ''">{{source.tasks.progress ?
          source.tasks.progress : '0'}}%
          <!-- <span class="remaining-time">{{ source.tasks.eta | amLocal | amTimeAgo }}</span> -->
        </div>
        <ngb-progressbar type="custom" [value]="source.tasks.progress ? source.tasks.progress : 0" height="3px"
          showValue="false">
        </ngb-progressbar>
      </div>
      <div class="cube-sources-icons-info">
        <div class="icon-placeholder" *ngFor="let item of source?.tasks?.tasks" ngbTooltip="{{item.display_name}}"
          container="body" placement="bottom">
          <div class="tooltip-placeholder">
            <app-svg-icon *ngIf="!item.progress_bar || !source.tasks.progress_bar" [name]="item.name" [size]="23"
              [ngClass]="{'in-proccess': item.progress_bar}"></app-svg-icon>
            <div class="download-proccess" [ngStyle]="{'width': item.progress ? item.progress + '%' : '0' + '%'}" *ngIf="item.progress_bar && source.tasks.progress_bar">
              <app-svg-icon [name]="item.name" [size]="23"></app-svg-icon>
            </div>
          </div>
        </div>
        <!-- <div class="cube-sources-info-value-duration" *ngIf="source.progress">
        <span class="cube-info-value" *ngIf="source.progress">{{source.progress| bitesToKb}}
          <div class="source-export" stopPropagation ngbTooltip="Export" placement="top" (click)="exportData('source')">
            <svg height="18" viewBox="0 0 19.07 18" width="19.07">
              <polygon class="cls-1" points="11 16 2 16 2 2 11 2 11 5 13 5 13 0 11 0 2 0 0 0 0 2 0 16 0 18 2 18 11 18 13 18 13 13 11 13 11 16"></polygon>
              <polygon class="cls-1" points="19.07 9 15 4.93 15 8 6 8 6 10 15 10 15 13.07 19.07 9"></polygon>
            </svg>
          </div>
        </span>
        <span class="cube-info-duration" *ngIf="source.progress.time">Duration
          <span class="source-duration">{{sourceDuration}}</span>
        </span>
      </div> -->
        <div class="cube-info">
          <span *ngIf="source.last_infection_at" class="cube-info-duration">Duration:
            <span class="source-duration">{{source.last_infection_at | amLocal | amDifference : now | amDuration:
              'milliseconds'}}</span>
          </span>
          <span *ngIf="source.activity_metadata?.receiving?.kbs" class="cube-info-value">{{source.activity_metadata.receiving.kbs
            | fileSize}} / {{source.activity_metadata.receiving.kbs_total | fileSize}}</span>
        </div>
      </div>

    </div>
    <div class="source-export"  ngbTooltip="Export" container="body" placement="top" (click)="exportSource($event,source.id)">
      <svg height="18" viewBox="0 0 19.07 18" width="19.07">
        <polygon class="cls-1" points="11 16 2 16 2 2 11 2 11 5 13 5 13 0 11 0 2 0 0 0 0 2 0 16 0 18 2 18 11 18 13 18 13 13 11 13 11 16"></polygon>
        <polygon class="cls-1" points="19.07 9 15 4.93 15 8 6 8 6 10 15 10 15 13.07 19.07 9"></polygon>
      </svg>
    </div>
    <div class="cube-on-off"  ngbTooltip="Terminate Agent" (click)="terminateAgent($event,source.id)"
      placement="top" container="body">
      <app-svg-icon name="power" [size]="13"></app-svg-icon>
    </div>
  </div>
</li>
