<li class="source-cube">
    <div class="source-cube-wrapper">
      <div class="info-wrapper" *ngIf="!source.noInfo; else noInfoSource">
        <div class="source-img">
          <img *ngIf="source.source.device.ios.profile_pics[0]; else avatar" src="{{source.source.device.ios.profile_pics[0]}}">
          <ng-template #avatar>
            <app-svg-icon name="avatar" [size]="85" class="cube-person-img"></app-svg-icon>
          </ng-template>
        </div>
        <div class="source-info">
          <p class="source-name">{{source.source?.name}}</p>
          <p class="source-number">{{source.source?.device.ios.number}}</p>
          <div class="source-phone-info">
            <span class="phone-model">{{source.source?.device.name}} </span>
            <span class="phone-version"> ({{source.source?.device.ios.version}})</span>
            <!-- <app-svg-icon class="phone-battery" [name]="getBatteryIcon(source.ios?.indicators?.battery)" [size]="13" [ngStyle]="{'color': getBatteryIcon(source.ios?.indicators?.battery) === 'device-battery-empty'? '#ff4d6a' : '#c4e1ff'}">
            </app-svg-icon> -->
            <!-- <app-svg-icon class="phone-wifi" [name]="getWifiStatus()" [size]="13">
            </app-svg-icon> -->
          </div>
        </div>

      </div>
      <ng-template #noInfoSource>
        <div class="no-info">
          <div class="person-img-wrapper">
            <app-svg-icon name="avatar" [size]="100" class="cube-person-img"></app-svg-icon>
          </div>
          <div class="main">
            <div class="shimmer"></div>
            <div class="shimmer second"></div>
            <div class="shimmer"></div>
          </div>
        </div>
      </ng-template>
      <div class="device-status">
        <!-- <app-svg-icon name="inactive" [size]=32></app-svg-icon> -->
        <lottie-animation-view *ngIf="source.isAnimatedIcon; else noAnimatedIcon" [options]="setAnimatedIcon().options"
          [width]="setAnimatedIcon().width" [height]="setAnimatedIcon().height">
        </lottie-animation-view>
        <ng-template #noAnimatedIcon>
          <app-svg-icon [size]="23" [name]="source.state"></app-svg-icon>
        </ng-template>
        <span class="device-status-text" [ngClass]="source.state === 'LOST_CONNECTION' ? 'red' : (source.state === 'DOWNLOADING' ? 'green' : '')">
          {{deviceStatusToText(source)}}</span>
      </div>
    </div>
    <div class="source-cube-info" [ngClass]="['ACTIVE', 'DOWNLOADING', 'COLLECTING_DATA'].includes(source.state) ? '' : 'dimmed'">
      <ng-template #noInfoTasks>
        <div class="before-initializing">
          <div class="top-bar shimmer"></div>
          <div class="bottom-wrapper">
            <div class="bottom-icons">
              <span class="icon-placeholder shimmer" *ngFor="let i of source.tasks.tasks"></span>
            </div>
            <div class="time-wrapper">
              <div class="bottom-time-placeholder-upper shimmer">
              </div>
              <div class="bottom-time-placeholder-bottom shimmer"></div>
            </div>
          </div>
        </div>

      </ng-template>
      <div *ngIf="!source.noInfo; else noInfoTasks" class="after-initializing">
        <div class="cube-progress-bar" *ngIf="source.tasks.progress_bar">
          <div class="downloading-percent">{{source.tasks.progress ? source.tasks.progress : '0'}}%
            <!-- <span class="remaining-time">{{device.progress.time.eta | millToMinFilter}} Min</span> -->
          </div>
          <ngb-progressbar type="custom" [value]="source.tasks.progress" height="3px" showValue="false">.5rem
          </ngb-progressbar>
        </div>
        <div class="cube-sources-icons-info">
          <div class="icon-placeholder" *ngFor="let item of source.tasks.tasks" ngbTooltip="{{item.name |lowercase}}"
            container="body" placement="bottom">
            <div class="tooltip-placeholder">
              <app-svg-icon *ngIf="!item.progress_bar" (click)="fetchIntels(item)" [name]="item.name" [size]="23"
                [ngClass]="{'in-proccess': item.progress_bar}"></app-svg-icon>
              <div class="download-proccess" [ngStyle]="{'width': item.progress + '%'}" *ngIf="item.progress_bar">
                <app-svg-icon [name]="item.name" [size]="23"></app-svg-icon>
              </div>
            </div>
          </div>
          <!-- <div class="cube-sources-info-value-duration" *ngIf="source.progress">
        <span class="cube-info-value" *ngIf="source.progress">{{source.progress| bitesToKb}}
          <div class="source-export" stopPropagation ngbTooltip="Export" placement="top" (click)="exportData('source')">
            <svg height="18" viewBox="0 0 19.07 18" width="19.07">
              <polygon class="cls-1" points="11 16 2 16 2 2 11 2 11 5 13 5 13 0 11 0 2 0 0 0 0 2 0 16 0 18 2 18 11 18 13 18 13 13 11 13 11 16"></polygon>
              <polygon class="cls-1" points="19.07 9 15 4.93 15 8 6 8 6 10 15 10 15 13.07 19.07 9"></polygon>
            </svg>
          </div>
        </span>
        <span class="cube-info-duration" *ngIf="source.progress.time">Duration
          <span class="source-duration">{{sourceDuration}}</span>
        </span>
      </div> -->
        </div>

      </div>
      <div class="source-export" stopPropagation ngbTooltip="Export" container="body" placement="top" (click)="exportSource(source.source.id)">
        <svg height="18" viewBox="0 0 19.07 18" width="19.07">
          <polygon class="cls-1" points="11 16 2 16 2 2 11 2 11 5 13 5 13 0 11 0 2 0 0 0 0 2 0 16 0 18 2 18 11 18 13 18 13 13 11 13 11 16"></polygon>
          <polygon class="cls-1" points="19.07 9 15 4.93 15 8 6 8 6 10 15 10 15 13.07 19.07 9"></polygon>
        </svg>
      </div>
      <div class="cube-on-off" stopPropagation [ngClass]="{'inactive': buttonStatus}" ngbTooltip="Terminate Agent"
        placement="top" container="body">
        <app-svg-icon name="power" [size]="13"></app-svg-icon>
      </div>
    </div>
  </li>