@import "../../../../scss/base";
@import "../../../../scss/backgroundimages";
@import "../../../../scss//colors.scss";

.modal-media-header {
  height: 78px;
  font-size: 26px;
  text-align: center;
  color: $tiffany-blue;
  background-color: $slate;
  padding: 22px;
  text-transform: capitalize;
}

.modal-video-url {
  width: 490px;
  height: 310px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.modal-audio-url {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.disconnect-device-modal {
  width: 311px;
  z-index: 99999 !important;
  overflow-y: hidden !important;

  .modal-dialog {
    margin: 0 auto;
  }

  .modal-wrapper {
    width: 311px;
    height: 260px;
    background-color: $slate-two;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modal-disconnect-header {
      height: 51px;
      font-size: 21px;
      text-align: center;
      color: $primary-text;
      background-color: $slate;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 4px 0 rgba(26, 34, 42, 0.32);
    }

    .modal-content {
      text-align: center;
      width: 100%;
      margin: 20px auto 0 auto;
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.7px;
      color: #c4e1ff;
      border: none;
    }

    .modal-disconnect-footer {
      font-size: 15px;
      text-align: center;
      color: $carnation;
      display: flex;
      margin-bottom: 28px;
      justify-content: center;

      .center-button {
        width: 225px;
        height: 44px;
        font-size: 20px;
        margin: 0 auto;
      }

      .disconnect-modal-button {
        width: 126px;
        height: 39px;
        font-size: 15px;
        font-weight: bold;
      }


    }
  }
}

.warning {
  font-size: 12px;
}
