<div id="add-attack-modal-wrapper">
  <div class="modal-header-attack">
    <app-svg-icon name="add_attack_vector" [size]="15" class="vector-icon"></app-svg-icon>
    Attack vectors
  </div>
  <div *ngIf="!isLoading; else loadingScreen" class="picks-wrapper">
    <ul class="options">
      <li class="list-item" >
        <input type="checkbox" class="hidden-box" id="{{vector.vector+'-box'}}" [ngModel]="vector.checked"
               (change)="updateCheckedVectors(i, $event)">
        <div class="option-box" stopPropagation (click)="updateCheckedVectors(i)">
          <div class="vector-icon-wrapper">
            <app-svg-icon name="type-{{vector.vectorType}}" [size]="19"></app-svg-icon>
          </div>
          <div class="vector-info">
            <div class="vector-name">{{vector.name}}<span class="licenses">
                ( licenses: <span [ngClass]="{ 'warn': vector.license?.used === 1, 'error': vector.license?.used === 0 }">{{vector.license?.used}}</span>/{{vector.license?.total}} )
            </span></div>
            <div class="vector-state">
      <span>Vector currently: <span
        [ngClass]="{ 'error': !vector?.vectorState}"
        >
        {{ !isConnected ? 'Disconnected. Please check internet connection'
        : vector?.vectorState ? 'Ready' : 'Disconnected' }}

      </span>
      </span>
            </div>
          </div>
        </div>
        <div class="type-{{vector.vectorType}} card-wrapper">
          <div class="main-area">
            <div class="email-wrapper inputs">
                <div ngbDropdown class="d-inline-block dropdown">
                    <button class="btn btn-outline-primary" id="typeDropdown" ngbDropdownToggle>{{selectedType || 'select type'}}</button>
                    <div ngbDropdownMenu aria-labelledby="typeDropdown">
                      <button class="dropdown-item" (click)="selectedType = 'email';validateIdentifier(vector.inputs.identifier)">Email</button>
                      <button class="dropdown-item" (click)="selectedType = 'phone';validateIdentifier(vector.inputs.identifier)">Phone number</button>
                    </div>
                  </div>
              <label for="identifier">Enter target's {{selectedType}}</label>
              <input [ngClass]="{ 'error': !!error }" [(ngModel)]="vector.inputs.identifier"
                     (keyup)="validateIdentifier($event.target.value, vector)" class="phone" id="identifier"
                     name="identifier"/>
              <span class="input-error" *ngIf="error">{{ error}}</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="buttons-wrapper">
    <!-- <button class="apply-button modal-btn" (click)="">Test Viewer</button> -->
    <button class="cancel-button modal-btn"  (click)="activeModal.close()">Cancel</button>
    <button class="apply-button modal-btn" [disabled]="isEmpty || hasErrors || !isConnected" [ngClass]="{ 'disabled': isEmpty || hasErrors || !isConnected }"
            (click)="addTarget()">Attack!
    </button>
  </div>
</div>

  <ng-template #loadingScreen>
    <ng-container>
      <div class="no-devices">
        <div class="Rectangle"></div>
        <div class="new-device-details">
          <h2>Waiting for devices</h2>
        </div>
      </div>
    </ng-container>
  </ng-template>
