<div class="alerts-modal">
  <div class="modal-wrapper">
    <div class="modal-disconnect-header">
      <div class="title-icon">
        <app-svg-icon name="alert" class="alerts-icon" [size]="18"></app-svg-icon>
        <span class="alert-title">Alerts ({{alerts?.length ? alerts.length : '0'}})</span>
      </div>

      <div class="close-button" (click)="activeModal.dismiss()">
        <svg height="14" width="14">
          <line style="stroke:#c5e1ff; stroke-width:2" x1="0" x2="10" y1="0" y2="10"></line>
          <line style="stroke:#c5e1ff; stroke-width:2" x1="10" x2="0" y1="0" y2="10"></line>
        </svg>
      </div>
    </div>
    <div class="modal-content">
      <div class="table-wrapper">
        <div class="alert-wrapper" *ngIf="alerts.length > 0; else noAlerts">
          <ag-grid-angular style="width: 100%; height: 100%;" #agGrid class="ag-theme-material" [rowData]="alerts"  [animateRows]="true" 
            [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [icons]="icons" [rowClassRules]="rowClassRules"
          rowSelection="multiple">
          </ag-grid-angular>
        </div>
        
      </div>
    </div>
  </div>
</div>
<ng-template #deleteCell let-row>
  <div class="buttons">
    <button class="toggle-btn" (click)="delete(row)">
      <span>DISMISS</span>
    </button>
  </div>
</ng-template>

<app-owners-cell #dateCell>
</app-owners-cell>


<app-owners-cell #ownersCell>
</app-owners-cell>

<ng-template #noAlerts>
    <div class="no-alerts">
        <span>No alerts</span>
    </div>
  </ng-template>