.modal-wrapper {
  min-height: 620px;

  .modal-body {
    display: flex;

    .left-wrapper {
      flex: 1;
      flex-direction: column;
      border-right: 1px solid rgba(0, 0, 0, 0.25);

      .downloads {
        li {
          display: flex;
          align-items: center;
          height: 48px;

          .item-name {
            margin-left: 5px;
            font-size: 14px;
          }

          .item-size {
            margin-left: auto;
            font-size: 12px;
          }
        }
      }
    }

    .right-wrapper {
      flex: 2;
      flex-direction: column;

      .radio-buttons {
        p {
          margin-top: 16px;
        }
      }
    }
  }

  .title {
    opacity: 0.5;
    font-size: 12px;
  }
}
