<div class="info-wrapper">

  <div class="left-panel">
    <div class="cube info-cube" [class.selected]="selectedInfo === 'apps'" (click)="selectInfo('apps')">
      <span class="icon">
        <app-svg-icon name="info-apps"></app-svg-icon>
      </span>
      <span class="text">Apps</span>
    </div>
    <div class="cube info-cube" [class.selected]="selectedInfo === 'tasks'" (click)="selectInfo('tasks')">
      <span class="icon">
        <app-svg-icon name="info-tasks"></app-svg-icon>
      </span>
      <span class="text">Tasks view</span>
    </div>
  </div>
  <div class="center-panel" *ngIf="selectedInfo === 'apps'">
    <div *ngFor="let task of tasks" class="cube intel-cube" [class.selected]="selectedIntel === task.name"
      (click)="selectIntel(task.name)">
      <span class="icon">
        <app-svg-icon [name]="task.name" [size]="17"></app-svg-icon>
      </span>
      <span class="text">{{task.display_name}}</span>
      <span class="state-icon" (click)="taskAction($event, task.state)">
        <app-svg-icon [name]="task.state"></app-svg-icon>
      </span>

    </div>
  </div>
  <div class="intels-panel" *ngIf="selectedInfo === 'apps'">
    <intel-device-info [data]="data" class="intel" *ngIf="selectedIntel === 'device_info'"></intel-device-info>
    <intel-chats class="intel" [messages]="messages" [sessions]="sessions" [calls]="calls"
      *ngIf="['whatsapp','telegram','wechat','line','sms', 'signal'].includes(selectedIntel)"
      (selectSession)="onSelectSession($event)">
    </intel-chats>
    <intel-contacts class="intel" [contacts]='data' *ngIf="selectedIntel === 'contacts'"></intel-contacts>
    <intel-call-history class="intel" [data]='data' *ngIf="selectedIntel === 'call_history'">
    </intel-call-history>
    <intel-passwords class="intel" [data]='data' *ngIf="selectedIntel === 'keychains'"></intel-passwords>
    <intel-app-list class="intel" [data]='data' *ngIf="selectedIntel === 'apps'"></intel-app-list>
    <intel-browser class="intel" [data]='data' *ngIf="selectedIntel === 'browser'"></intel-browser>
  </div>


  <div class="tasks-view" *ngIf="selectedInfo === 'tasks'">
    <intel-tasks [data]="data"></intel-tasks>
  </div>

</div>
