<div class="info-wrapper">

  <div class="left-panel">
    <div class="cube info-cube" [class.selected]="selectedInfo === 'apps'" (click)="selectInfo('apps')">
      <span class="icon"><app-svg-icon name="info-apps"></app-svg-icon></span>
      <span class="text">Apps</span>
    </div>
    <!-- <div class="cube info-cube" [class.selected]="selectedInfo === 'online'" (click)="selectInfo('online')">
      <span class="icon"><app-svg-icon name="info-online"></app-svg-icon></span>
      <span class="text" >Online</span>
    </div> -->
    <div class="cube info-cube" [class.selected]="selectedInfo === 'tasks'" (click)="selectInfo('tasks')">
      <span class="icon"><app-svg-icon name="info-tasks"></app-svg-icon></span>
      <span class="text">Tasks view</span>
    </div>
  </div>

  <div class="center-panel" *ngIf="selectedInfo === 'apps'">
        <div *ngFor="let task of tasks" class="cube intel-cube" [class.selected]="selectedIntel === task.name" (click)="selectIntel(task.name)">
      <span class="icon"><app-svg-icon [name]="task.name" [size]="17"></app-svg-icon></span>
      <span class="text">{{task.display_name}}</span>
      <span class="state-icon"><app-svg-icon [name]="task.state"></app-svg-icon></span>

    </div>
    <!-- <div class="cube intel-cube" [class.selected]="selectedIntel === 'device-info'" (click)="selectIntel('device-info')">
      <span class="icon"><app-svg-icon name="device_info" [size]="17"></app-svg-icon></span>
      <span class="text">Device info</span>
    </div>
    <div class="cube intel-cube" [class.selected]="selectedIntel === 'whatsapp'" (click)="selectIntel('whatsapp')">
        <span class="icon"><app-svg-icon name="whatsapp" [size]="17"></app-svg-icon></span>
        <span class="text">Whatsapp</span>
      </div> -->
  </div>

  <div class="intels-panel" *ngIf="selectedInfo === 'apps'">
    <intel-device-info *ngIf="selectedIntel === 'DEVICE_INFO'"></intel-device-info>
    <intel-chats *ngIf="selectedIntel === 'WHATSAPP'"></intel-chats>
    <intel-contacts [contacts]="contacts$ | async" *ngIf="selectedIntel === 'CONTACTS'"></intel-contacts>
  </div>


  <div class="tasks-view" *ngIf="selectedInfo === 'tasks'">
    <intel-tasks></intel-tasks>
    </div>

</div>
