@import "../../../scss/colors.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  #login-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

  .login-wrapper {
    width: 319px;
    background-color: transparent;

    .company {
      font-size: 39.1px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.6px;
      text-align: center;
      color: #c5e1ff;
      text-transform: uppercase;
      margin-bottom: 200px;

      .plus {
        position: relative;
        top: -1px;
        font-size: 50px;
        left: 5px;
      }
    }

    .header {
      width: 100%;
      height: 62.5px;
      background-color: $slate-two;
      text-align: center;
      font-family: 'Titillium Web', sans-serif;
      color: #b7d2ee;
      font-size: 15px;
      margin-bottom: 70px;
    }

    .member-login {
      font-family: 'Titillium Web', sans-serif;
      font-size: 22.5px;
      line-height: 2.1;
      letter-spacing: 0.04em;
      color: $tiffany-blue;
      padding-top: 10px;
      text-transform: uppercase;
    }

    .help-block {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .login-error-message {
      opacity: 0;
      font-family: 'Titillium Web', sans-serif;
      font-size: 15px;
      line-height: 3.9;
      letter-spacing: 0.9px;
      color: #ff4d6a;
      text-align: center;
      height: 67px;
    }

    .login-input-box {
      width: 100%;
      height: 40px;
      font-family: 'Titillium Web', sans-serif;
      font-size: 22.5px;
      letter-spacing: 1.3px;
      color: #b7d2ee;
      padding: 5px 10px;
      border: none;
      border-bottom: 2px solid rgba(194, 223, 253, 0.65);
      background: transparent;
      display: block;
      margin: 0 auto;
      border-radius: 0;
      outline: none;
      box-shadow: none;
    }

    .password-field {
      margin-top: 12px;
      margin-bottom: 52px;
    }

    .login-form {
      .user {
        margin-bottom: 60px;
      }

      .login-wrapper {
        margin-top: 69px;

        .login-button {
          width: 100%;
          height: 49px;
          text-transform: uppercase;
          margin: 0 auto;
          display: block;
          cursor: pointer;
          border-radius: 2px;
          background-color: transparent;
          border: solid 2px #6cfff8;
          font-size: 20px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 2px;
          text-align: center;
          color: #6cfff8;
          box-shadow: none;

          &:hover {
            background-color: rgba(108, 255, 248, 0.2);
          }

          &:active {
            background-color: #6cfff8;
            color: #151c23;
          }
        }
      }
    }

    .form-group {
      margin: 0;
    }

    .group {
      position: relative;
      margin-bottom: 45px;

      input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid rgba(194, 223, 253, 0.65);

        &:focus {
          outline: none;
        }

        &:focus~label,
        &:valid~label {
          top: -20px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 0.3px;
          text-align: left;
          color: rgba(194, 223, 253, 0.65);
        }
      }

      label {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(194, 223, 253, 0.65);
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }

      input:focus~.highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
      }

      @-webkit-keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      @-moz-keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      @keyframes inputHighlighter {
        from {
          background: #5264AE;
        }

        to {
          width: 0;
          background: transparent;
        }
      }

      &.password {
        .icon-container {
          color: #c2dffd;
          position: absolute;
          top: 8px;
          right: 0;
          cursor: pointer;
        }

        .show-pass {
          color: #6cfff8;
        }
      }
    }

    .active {
      opacity: 1;
    }

    .create-forgot-wrapper {
      display: flex;
      justify-content: space-between;

      .create {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1.1px;
        text-align: left;
        color: rgba(194, 223, 253, 0.65);
        cursor: pointer;

        &:active {
          color: #6cfff8;
        }

        &:hover {
          color: #c2dffd;
        }
      }

      .forgot {
        @extend .create;
      }
    }
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 8.05;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(194, 223, 253, 0.65);
  }
}
