ngb-datepicker{
    &#date-picker{
    z-index: 99;
    background-color: #3b4a58 !important;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    }
    button{
      color: #c5e1ff !important;
    }

  }
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color:  rgba(197, 225, 255,1);
  color: #232d38;
}
.custom-day.faded {
  background-color:  rgba(197, 225, 255,0.2);
  color:rgba(197, 225, 255,1);
}
[ngbDatepickerDayView].outside {
  opacity: .5;
}

.ngb-dp-day {
  margin: 0.5px 0;
}

.disabled{
  opacity: 0.3;
}



.ngb-dp-weekday{
  color: #232d38 !important;
}
.button-dp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  padding: 1px;
  width: 158.4px;
  height: 32px;
  border-radius: 3px;
  background-color: #3b4a58;
  span{
      color: #c4e1ff;
      opacity: 0.5;
      font-size: 11px;
      &.dates-range{
        opacity: 1;
      }
  }

  app-svg-icon{
    margin-top: 0!important;
  }
}

::ng-deep .bg-light{
  background-color: #3b4a58 !important;
}

::ng-deep .ngb-dp-weekday{
  color: #c4e1ff !important;
    opacity: 0.3;
}
::ng-deep .btn-link{
  color: #c4e1ff !important;
}