<div class="sidebar">
  <!-- This section shoudl be at the TOP-->
  <div class="section sources">
    <div class="header">Sources ({{sources?.length}})</div>
    <div class="content">
      <!-- Sources -->
      <div class="items" *ngFor="let source of sources; let i = index;" (mouseenter)="source.hover=true;"
        (mouseleave)="source.hover=false;">
        <sat-popover #sourcePopovers xAlign="start" yAlign="center">
          <app-source-tooltip *ngIf="selectedSource" [source]="selectedSource" (close)="closeT(i)"></app-source-tooltip>
        </sat-popover>
        <app-svg-icon name='type-x-caliber' [size]="15"></app-svg-icon>
        <span class="name">{{source.name}}</span>
        <span class="device-status">

          <span class="icon-wrapper" *ngIf="srcPopovers?.first && source.hover || selectedSource?.index === i"
            (click)="selectSource(source, i);getSourcePopover(i).toggle();" [satPopoverAnchorFor]="getSourcePopover(i)">
            <app-svg-icon class="info-icon" name="info-second" [size]="12">
            </app-svg-icon>
          </span>

          <!-- <app-svg-icon *ngIf="!isAnimated; else animated" [size]="23" id="{{source.state | lowercase}}" [name]="source.state"></app-svg-icon>
          <lottie-animation-view *ngIf="!timedOut && source.state === 'DOWNLOADING' || source.state === 'SERVER_IS_PROCESSING_DATA'" [options]="source.animatedIcon?.options"
            [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
          </lottie-animation-view>
          <lottie-animation-view *ngIf="!timedOut && source.state === 'ACTIVE'" [options]="source.animatedIcon?.options"
            [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
          </lottie-animation-view>
          <ng-template #animated>
            <lottie-animation-view *ngIf="!timedOut && source.state !== 'DOWNLOADING' && source.state !== 'ACTIVE' && source.state !== 'SERVER_IS_PROCESSING_DATA'"
              [options]="source.animatedIcon?.options" [width]="source.animatedIcon?.width" [height]="source.animatedIcon?.height">
            </lottie-animation-view>
          </ng-template>
          <span class="device-status-text" [ngClass]="source.state === 'LOST_CONNECTION' ? 'red' : (['DOWNLOADING','TOOL_IS_COLLECTING_DATA'].includes(source.state) ? 'green' : '')">
            {{deviceStatusToText()}}</span> -->

          <span *ngIf="source.tasks.progress_bar" class="downloading-percent green">{{source.tasks.progress ?
              source.tasks.progress : '0'}}%
          </span>
          <span class="device-icon">
            <lottie-animation-view *ngIf="!timedOut && source.state === 'ACTIVE'"
              [options]="source.animatedIcon?.options" [width]="source.animatedIcon?.width"
              [height]="source.animatedIcon?.height">
            </lottie-animation-view>
            <lottie-animation-view *ngIf="isAnimatedIcon(source); else noAnimatedIcon"
              [options]="iconService.setAnimatedIcon(source).options"
              [width]="iconService.setAnimatedIcon(source).width" [height]="iconService.setAnimatedIcon(source).height">
            </lottie-animation-view>

            <ng-template #noAnimatedIcon>
              <app-svg-icon class="device-status-icon" id="{{source.state | lowercase}}" [size]="15"
                [name]="source.state"></app-svg-icon>
            </ng-template>
          </span>
        </span>
      </div>
    </div>
  </div>
  <!-- Infections -->
  <div class="section pending">
    <div class="header">Infecting ({{leftBarData?.infections.length}})</div>
    <div class="content">
      <div class="items" *ngFor="let infection of leftBarData?.infections; let i = index;"
        (mouseenter)="infection.hover=true;" (mouseleave)="infection.hover=false;">
        <sat-popover #infectionPopovers xAlign="center" yAlign="below">
          <div class="custom-tip small-tip">
            <div class="header">
              {{hoveredInfection?.tip}}
            </div>
          </div>
        </sat-popover>
        <app-svg-icon name='type-x-caliber' [size]="15"></app-svg-icon>
        <span class="name">{{infection.name}}</span>
        <span class="device-status">

          <app-svg-icon *ngIf="infPopovers?.first && infPopovers?.length === leftBarData?.infections.length"
            (mouseenter)="hoveredInfection = infection;getInfectionPopover(i).open();"
            (mouseleave)="hoveredInfection = null;getInfectionPopover(i).close();"
            [satPopoverAnchorFor]="getInfectionPopover(i)" [name]="infection.state" [size]="20"></app-svg-icon>
        </span>
      </div>
    </div>
  </div>
  <!-- Targets -->
  <div class="section targets">
    <div class="header">Targets ({{leftBarData?.targets.length}})</div>
    <div class="content">
      <div class="items" *ngFor="let target of leftBarData?.targets" (click)="filterTargetSources(target)">
        <app-svg-icon name='type-x-caliber' [size]="15"></app-svg-icon>
        <span class="name">{{target?.name}}</span>
        <span class="icon" (click)="openDeviceListModal(target?.id, $event)">
          <span class="device-count"
            [class.in_progress]="target?.infection?.in_progress">{{target?.devices_count}}</span>
          <app-svg-icon *ngIf="target?.infection?.in_progress; else pendingIcon" [size]="17" name="target_in_progress">
          </app-svg-icon>
          <ng-template #pendingIcon>
            <app-svg-icon [size]="17" name="target_pending"></app-svg-icon>
          </ng-template>
        </span>
      </div>
    </div>
  </div>

  <div class="add-target" (click)="openWizard()">
    <img src="../../../assets/img/svg/add-target.svg">
    <p> Add Target</p>
  </div>
</div>
