<div class="sidebar">
  <!-- This section shoudl be at the TOP-->
  <div class="section sources">
    <div class="header">Sources</div>
    <div class="content">
      <div class="items" *ngFor="let source of missionData?.sources" (mouseenter)="source.hover=true" (mouseleave)="source.clicked ? ' ' : source.hover=false">
        <span class="name">{{source.name}}</span>

        <span class="device-status">
          <app-svg-icon *ngIf="source.hover" (click)="source.clicked ? source.clicked=false : source.clicked=true"
            class="info-icon" name="info-second" triggers="click" [autoClose]="false" [ngbTooltip]="sourceTip" [size]="12">
          </app-svg-icon>
          <lottie-animation-view [options]="setAnimatedIcon().options" [width]="setAnimatedIcon().width" [height]="setAnimatedIcon().height">
          </lottie-animation-view>
        </span>


        <div class="tooltip-hide">
          <ng-template #sourceTip>
            <app-device-tooltip class="tooltip" [device]="source"></app-device-tooltip>
          </ng-template>
        </div>
        <!-- <span *ngIf="isAnimatedIcon(source?.status)" class="device-status animated">
            <div class="percent-icon" *ngIf="source.status === 'downloading'">
                <span class="percent">{{source.progress?.percentage}}%</span>
              </div>
              <div (mouseenter)="toggleShowInfoIcon(true)" (mouseleave)="toggleShowInfoIcon(false)">
                <lottie-animation-view *ngIf="source.status !== 'downloading'" [options]="source.icon.options" [width]="icon.size.width"
                  [height]="icon.size.height">
                </lottie-animation-view>
                <lottie-animation-view *ngIf="source.status === 'downloading'" [options]="source.icon.options" [width]="icon.size.width"
                  [height]="icon.size.height">
                </lottie-animation-view>
              </div>
        </span> -->
      </div>
    </div>
  </div>
  <!-- /Section Sources -->
  <div class="section pending">
    <div class="header">Infecting</div>
    <div class="content">
      <div class="items" *ngFor="let infection of missionData?.infections">
        <span class="name">{{infection.name}}, {{infection.state}}</span>
        <span class="device-status" *ngIf="infection.state">
          <app-svg-icon [name]="infection.state" [size]="18"></app-svg-icon>
        </span>
      </div>
    </div>
  </div>
  <div class="section targets">
    <div class="header">Targets</div>
    <div class="content">
      <div class="items" *ngFor="let target of missionData?.targets">
        <span class="name">{{target.name}}</span>
        <span class="icon"><img src="../../../assets/img/svg/ready-to-attack.svg"></span>
      </div>
    </div>
  </div>

  <div class="add-target" (click)="openWizard()">
    <img src="../../../assets/img/svg/add-target.svg">
    <p> Add Target</p>
  </div>
</div>

<app-add-target-wizard *ngIf="isWizardOpen" (closeModal)="closeWizard()"></app-add-target-wizard>
