@import '../../../../scss/colors.scss';


.pioneer-wrapper {
  .number-counter {
    color: black;
    margin-bottom: 1px;
  }

  margin-bottom: 4px
}

.custom-tip {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: $primary-text;
  margin-top: 20px;
  border-radius: 4px;
  min-width: 350px;

  &:after {
    content: "";
    display: block;
    border-width: 0px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #4d6179;
    margin-left: -10px;
    position: absolute;
    top: 10px;
    left: 50%;
  }

  .close-button {
    position: absolute;
    right: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .header {
    min-width: 175px;
    height: 38px;
    background-color: #4d6179;
    display: flex;
    align-items: center;
    padding-left: 15px;

  }

  .content {
    min-width: 175px;
    border-radius: 4px;
    background-color: #2c3745;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 15px;
    margin: 0;
    max-height: 380px;

    li {
      display: flex;
    }

    span {
      margin-left: 5px;
    }
  }
}

.rwd-table {
  width: 100%;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;

  &.state {
    .info-icon {
      display: none;
      cursor: pointer;
    }

    &:hover {
      .info-icon {
        display: inline;
        position: absolute;
        margin-left: 5px;
      }
    }
  }

}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding: 10px !important;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}


.rwd-table th,
.rwd-table td {
  display: table-cell;
  padding: .25em .5em;
}



.rwd-table th:last-child,
.rwd-table td:last-child {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.rwd-table {
  background-color: #2c3745;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rwd-table tr {
  border-color: #13171c;
  // border-bottom: 1px solid #13171c;
}

.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
}


[class*="circle"] {
  border-radius: 100px;
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 7.5px;
  margin-top: -1.5px;
  font-size: 10px;

}

.circle-red {
  background-color: $warning;
  color: $dark;
}

.circle-green {
  background-color: $tiffany-blue;
  color: $dark;
}

.icon-wrapper {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  cursor: pointer;
}
