<div class="disconnect-device-modal">
    <div class="modal-wrapper">
      <div class="modal-disconnect-header">
        <div class="title-icon">
          <app-svg-icon name="alert" class="alerts-icon" [size]="18"></app-svg-icon>
          <span class="alert-title">Quantum Alerts</span>
        </div>
        <div class="alerts-filter">
          Show:
          <div class="show-all" [ngClass]="{'inactive': showAll }" (click)="filterAlerts(undefined)">
            All ({{alertsData.length}})
          </div>
          <div class="show-active" [ngClass]="{'inactive': !showAll }" (click)="filterAlerts('active')">
            Active ({{activeAlertsCount}})
          </div>
        </div>
        <div class="close-button" (click)="activeModal.close(true)">
          <svg height="14" width="14">
            <line style="stroke:#c5e1ff; stroke-width:3" x1="0" x2="14" y1="0" y2="14"></line>
            <line style="stroke:#c5e1ff; stroke-width:3" x1="14" x2="0" y1="0" y2="14"></line>
          </svg>
        </div>
      </div>
      <div class="modal-content">
        <div class="titles-wrapper">
          <!--<span class="title-cell id">Id</span>-->
          <span class="title-cell time" (click)="sortByValue('date')">Time</span>
          <span class="title-cell module">Module</span>
          <span class="title-cell name">Name</span>
          <span class="title-cell description">Description</span>
          <span class="title-cell status">Status</span>
          <span class="title-cell severity" (click)="sortByValue('severity')">Severity</span>
          <span class="title-cell actions"></span>
        </div>
        <div class="table-wrapper">
          <div class="alert-wrapper"
               *ngFor="let alert of alertsData | filterAlerts:filterBy | orderBy : [sortBy]; let $index = index">
            <span class="alert-color {{alert.severity}}"></span>
            <!--<div class="alert-id">{{alert.id}}</div>-->
            <div class="alert-time">{{alert.datetime |date:'M/d/yy, h:mm'}}</div>
            <div class="alert-module">{{alert.module}}</div>
            <div class="alert-name">{{alert.name}}</div>
            <div class="alert-description">{{alert.description}}</div>
            <div class="alert-status">{{alert.status}}</div>
            <div class="alert-severity {{alert.severity}}">{{alert.severity}}</div>
            <div class="close-alert" (click)="deleteAlert(alert, $index)">
              <svg height="14" width="14">
                <line style="stroke:#c5e1ff; stroke-width:3" x1="0" x2="14" y1="0" y2="14"></line>
                <line style="stroke:#c5e1ff; stroke-width:3" x1="14" x2="0" y1="0" y2="14"></line>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  