<div class="right-bar" [ngClass]="isOpen ? 'expanded' : 'folded'">
  <div class="arrow" (click)="toggleNav()">
    <app-svg-icon [name]="isOpen ? 'right_arrow' : (events?.length > 0 ? 'bell_notification' : 'bell_empty' ) " [size]="15"></app-svg-icon>
  </div>
  <div class="wrapper" [ngClass]="isOpen ? 'open-nav' : 'close-nav' ">
    <div class="content">
      <p class="header">Events Feed</p>

      <div *ngIf="events?.length > 0" class="events-list" [ngClass]="isOpen ? '' : 'hidden'">
        <ul>
          <li class="event-item" *ngFor="let event of events; let i = index">
            <span class="event-time">{{event.log?.created_at | date:'HH:mm:ss'}}</span>
            <span class="event-title" [ngClass]='event?.log?.severity'>{{event.log.msg}}</span>
            <div class="owners">
              <span *ngIf="event.log?.metadata?.key" class="event-owner1">{{event.log.metadata.key}}</span>
              <span *ngIf="event.log?.metadata?.name" class="event-owner2">{{event.log.metadata.name}}</span>
            </div>
            <div class="buttons">
              <span class="dismiss" (click)="removeEvent(i)">DISMISS </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
