
    <div class="right-bar" [ngClass]="isOpen ? 'expanded' : 'folded'">
        <div class="arrow" (click)="toggleNav()">
           <img src="../../../assets/img/right-arrow-archive.png"> 
        </div>
        <div class="wrapper" [ngClass]="isOpen ? 'open-nav' : 'close-nav' ">
          <div class="content">
              <p class="header">Events Feed</p>
              <div class="timeline">
                <span class="time" [class.selected]="selected === 'today'" (click)="toggleSelected('today')">Today</span>
                <span class="time" [class.selected]="selected === 'all'" (click)="toggleSelected('all')">All</span>
              </div>
              <div *ngIf="events?.length > 0" class="events-list" [ngClass]="isOpen ? '' : 'hidden'">
                  <ul>
                      <li class="event-item" *ngFor="let event of events">
                          <span class="event-time">{{event.created_at | date:'HH:mm:ss'}}</span>
                          <span class="event-title" [ngClass]='event.severity ? event.severity : "INFO" '>{{event.msg}}</span>
                          <div class="owners">
                                <span *ngIf="event.metadata?.owner1" class="event-owner1">{{event.metadata.owner1}}</span>
                                <span *ngIf="event.metadata?.owner2" class="event-owner2">{{event.metadata.owner2}}</span>
                          </div>
                  
                          <div class="buttons">
                              <span class="dismiss">DISMISS </span>
                              <span class="view">VIEW</span>
                          </div>
                        </li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
     
