<div class="system-bar" *ngIf="system">
  <ul>

    <li class="device-info">
      <!-- Tooltips -->
      <ng-template class="tool-tip" #batteryTip>{{system.goat?.tip}}</ng-template>
      <span class="icon-wrapper">
        <div class="icon-wrapper pioneer-wrapper" *ngIf="pioneerStatus" [satPopoverAnchorFor]="pioneerPop" (click)="handlePops(3);">
          <span [ngClass]="pioneerStatus === 'pioneer-green' ? 'circle-green' : 'circle-red'">
            <span class="number-counter">{{system.pioneer?.pioneers?.length ? system.pioneer.pioneers.length : '0'}}</span>
          </span>
          <app-svg-icon class="pioneer" [name]="'pioneer'" [size]="15">
          </app-svg-icon>
        </div>
      </span>

      <span class="icon-wrapper" *ngIf="cloudStatus" [satPopoverAnchorFor]="cloudPop" (click)="handlePops(2);">
        <app-svg-icon *ngIf="cloudStatus" class="cloud" [name]="cloudStatus" [size]="23"></app-svg-icon>
      </span>

      <span class="icon-wrapper" *ngIf="aliceStatus" [satPopoverAnchorFor]="alicePop" (click)="handlePops(1);">
        <app-svg-icon class="alice" [name]="aliceStatus" [size]="23"></app-svg-icon>
      </span>
    </li>

    <li class="device-info">
      <span class="icon-wrapper" *ngIf="batteryStatus">
        <app-svg-icon class="battery" [name]="batteryStatus" [satPopoverAnchorFor]="batteryPop" (mouseenter)="batteryPop.open()"
          (mouseleave)="batteryPop.close()" [size]="22"></app-svg-icon>
      </span>

      <span class="icon-wrapper" *ngIf="internetStatus" [satPopoverAnchorFor]="internetPop" (click)="handlePops(0);">
        <app-svg-icon class="internet" name="internet" [size]="15" [ngClass]="internetStatus"></app-svg-icon>
      </span>

      <span class="icon-wrapper" *ngIf="diskStatus">
        <app-svg-icon class="disk-space" name="{{diskStatus}}" [size]="19"></app-svg-icon>
      </span>

      <span class="icon-wrapper" *ngIf="interceptorStatus" [satPopoverAnchorFor]="interceptorPop" (click)="handlePops(4);">
        <app-svg-icon class="device-placeholder" [name]="interceptorStatus" [ngClass]="interceptorStatus" [size]="25">
        </app-svg-icon>
      </span>
    </li>
    <!-- Clock -->
    <li class="sep-line clear-fix clock">
      <span class="general-clock">{{date | date:'dd.MM.yyyy'}}</span>{{ clock$ | async | date:'HH:mm:ss' }}
    </li>
  </ul>
</div>



<!-- Pop Overs -->
<sat-popover #batteryPop xAlign="center" yAlign="below">
  <div class="custom-tip small-tip">
    <div class="header">
      {{system.goat?.tip}}
    </div>
  </div>
</sat-popover>

<sat-popover #internetPop xAlign="center" yAlign="below">
  <div class="custom-tip">
    <div class="header">Internet Connection
      <span class="close-button" (click)="closeTip()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <ul class="content">
      <li>Status: <span class="status-{{internetStatus}}">{{internetStatus === 'not-connected' ? 'Disconnected' :
          'Connected'}}</span></li>
    </ul>
  </div>
</sat-popover>


<sat-popover #alicePop xAlign="center" yAlign="below">
  <div class="custom-tip">
    <div class="header">Alice
      <span class="close-button" (click)="closeTip()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <ul class="content">
      <li>Status: <span class="{{aliceStatus}}">{{aliceStatus === 'alice-red' ? 'Disconnected' : 'Connected' }}</span></li>
      <li>Chains: <span class="{{aliceStatus}}">In-Use: {{system.alice?.alice?.chains?.in_use}} </span>
        <span> Online: {{system.alice?.alice?.chains?.online}}</span>
        <span><b> Total : {{system.alice?.alice?.chains?.total}}</b></span> </li>
    </ul>
  </div>
</sat-popover>

<sat-popover #cloudPop xAlign="center" yAlign="below">
  <div class="custom-tip">
    <div class="header">Cloud server
      <span class="close-button" (click)="closeTip()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <ul class="content">
      <li>Status: <span class="{{cloudStatus}}">{{cloudStatus === 'cloud-red' ? 'Disconnected' : 'Connected' }}</span></li>
      <li>Cloud Active Servers: {{system.cloudx?.cloudx?.active_servers}}</li>
    </ul>
  </div>
</sat-popover>

<sat-popover #pioneerPop xAlign="center" yAlign="below">
  <div class="custom-tip pioneer">
    <div class="header">Pioneer (IDS)
      <span class="close-button" (click)="closeTip()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <ul class="content">
      <ul class="table-headers">
        <li>Name</li>
        <li class="status">Status</li>
        <li class="last-update">Last update</li>
      </ul>
      <ul class="table-values" *ngFor="let pioneer of system.pioneer?.pioneers">
        <li>{{pioneer.host}}</li>
        <li class="status-value {{pioneer.state | lowercase}}">{{pioneer.state}}</li>
        <li class="reset" (click)="resetPioneerMachine(pioneer.id)">
          <span>{{pioneer.updated_at | amDateFormat:'DD.MM.YYYY'}} </span>
          <div class="icon-button">
            <span class="button-img"><img class="rotating" src="../../../assets/img/refresh.png">Reset</span>
          </div>
        </li>
      </ul>
    </ul>
  </div>
</sat-popover>

<sat-popover #interceptorPop xAlign="center" yAlign="below">
  <div class="custom-tip interceptor-pop-wrapper">
    <div class="header">Interceptors
      <span class="close-button" (click)="closeTip()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="tooltip-container content interceptor-content">
      <div class="single-row name">
        <div class="key">Interceptor name</div>
        <div class="value">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdown_interceptors" ngbDropdownToggle>{{selectedInterceptor?.name
              || 'select interceptor'}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown_interceptors">
              <button class="dropdown-item" *ngFor="let interceptor of system?.interceptor?.interceptors" (click)="selectInterceptor(interceptor)">{{interceptor.name}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="single-row mode">
        <div class="key">Interceptor mode</div>
        <div class="value">
          <input type="text" class="input status" [value]="selectedInterceptor?.mode" [disabled]="true">
        </div>
      </div>

      <div class="single-row status">
        <div class="key">Interceptor status</div>
        <div class="value">
          <input type="text" class="input status-{{selectedInterceptor?.connected ? 'green' : 'red'}}" [value]="selectedInterceptor?.connected ? 'Connected' : 'Disconnected'"
            [disabled]="true">
        </div>
      </div>
      <div class="diagnostic" *ngIf="selectedInterceptor?.diagnostics">
        <div class="header">Interceptor Diagnostic</div>
        <div class="content">{{selectedInterceptor?.diagnostics}}</div>
        <button class="close-btn" (click)="closeTip()">Close</button>
      </div>
    </div>
  </div>
</sat-popover>
