@import "../../../scss/backgroundimages";
@import "../../../scss/colors";
@import "../../../scss/base";


.system-bar {
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      display: flex;
      font-size: 12px;
      span
      {
        font-weight: normal;
      }
    }
    li.alerts{
      position: absolute;
      right: 60px;
      align-self: center;
      .alerts-number{
        border-radius: 100px;
        background-color: #ff536f;
        color: #232d38;
        height: 10px;
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: 11px;
        margin-top: 2px;
        font-size: 10px;
      }
    }
    li.device-info {
      width: 200px;
      justify-content: space-around;
      .disk-space {
        position: relative;
        top:  2px;
      }
      .internet {
        position: relative;
        top: 2.5px;
      }
      .icon-wrapper{
        margin-right: 3px;
        margin-top: 1px;
      }
      .circle-green{
        background-color: #6cfff8;
        border-radius: 100px;
        color: #232d38;
        height: 11px;
        width: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: 11px;
        margin-top: 2px;
        font-size: 10px;
      }
      .circle-red{
        background-color: #ff536f;
        border-radius: 100px;
        color: #232d38;
        height: 11px;
        width: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: 11px;
        margin-top: 2px;
        font-size: 10px;
      }
      ::ng-deep .device-placeholder + .tooltip {
        pointer-events: initial;
        margin-top: 15px;
        margin-left: -2px;
        .arrow {
          &:before {
            border-bottom-color: #566e89;
            border-right-color: transparent;
            border-left-color: transparent;
            border-width: 0 12px 12px 12px;;
            margin-left: -9px;
          }
        }
        .tooltip-inner {
          background-color: transparent;
          width: 100%;
          max-width: 1000px;
          padding: 0;
        }
      }
      .alerts-tip{
        position: absolute;
        margin-top: 100px;
        top: 25px;
      }
    }
    li .not-connected {
      color: #ff536f;
    }
    li .connected {
      color: #65efe8;
    }
    li.int
    {
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid #3a454f;
      box-shadow: 0 0 6px 0 rgba(200, 250, 210, 0.2);
      background-color: #75cc8b;
    }
    li .interceptor {
      color: #65efe8;
    }
    li .interceptor-failed {
      color: #ff536f;
    }
    .user-info {
      align-items: center;
    }
    li.sep-line {
      align-items: center;
    }
    li.sep-line::before,
    li.sep-line::after {
      content: '|';
      color: #6e8ba9 !important;
      padding: 0 10px;
      position: relative;
      top: -1px;
      font-size: 10px;
    }
    li.sep-line::after {
    }

  }
  ::ng-deep app-svg-icon + .tooltip {
    position: absolute;
    margin-top: 35px;
      .arrow {
        &:before {
          border-bottom-color: #52667b;
        }
      }
      .tooltip-inner {
        background-color: #52667b;
        border-radius: 0;
        text-transform: capitalize;
        color: #c5e1ff;
        font-size: 11px;
        letter-spacing: 0.2px;
      }
  }
}