button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.6px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  outline: none !important;
  transition: background-color 0.2s, color 0.2s ease-in;

  &.disabled {
    cursor: not-allowed !important;
  }
}

.default-btn {
  @extend button;
  width: 116px;
  height: 35px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background: $default-btn;
  color: $primary-text;

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    color: $primary-text !important;
    background: $default-btn-hover;
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.2;
    }
  }

  &:active {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background: $default-btn-active;
  }
}



.secondary-btn {
  @extend button;
  color: $light-blue-grey;
  background-color: transparent;
  width: 100px;

  &:hover {
    color: $robins-egg !important;
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.2;
    }
  }

  &:active {
    color: $primary-btn-active !important;
  }
}

.primary-btn {
  @extend button;
  width: 165px;
  height: 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  color: $dark !important;
  background-color: $robins-egg;

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: $primary-btn-hover;
  }

  &:active {
    background-color: $primary-btn-active;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.5;
    }
  }
}

.warning-btn {
  @extend button;
  background-color: $warning;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: $warning-btn-hover;
  }

  &:active {
    background-color: $warning-btn-active;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.5;
    }
  }
}

.icon-btn {
  @extend .default-btn;
  width: 123px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35px;
    height: 35px;
  }

}

a {
  @extend button;
}
