button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 0.6px;
  font-weight: bold;
  line-height: 1.5;
  min-width: 100px;
  text-align: center;
  font-size: 12px;
  outline: none !important;
  transition: background-color 0.2s, color 0.2s ease-in;

  &.disabled {
    cursor: not-allowed !important;
  }
}

.default-btn {
  @extend button;
  width: 116px;
  height: 35px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background: $default-btn;
  color: $primary-text;

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    color: $primary-text !important;
    background: $default-btn-hover;
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.2;
    }
  }

  &:active {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background: $default-btn-active;
  }
}



.secondary-btn {
  @extend button;
  color: $light-blue-grey;
  background-color: transparent;
  width: 100px;

  &:hover {
    color: $robins-egg !important;
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.2;
    }
  }

  &:active {
    color: $primary-btn-active !important;
  }
}

.primary-btn {
  @extend button;
  width: 165px;
  height: 40px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  color: $dark !important;
  background-color: $robins-egg;

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: $primary-btn-hover;
  }

  &:active {
    background-color: $primary-btn-active;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.5;
    }
  }
}

.warning-btn {
  @extend button;
  background-color: $warning;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
    background-color: $warning-btn-hover;
  }

  &:active {
    background-color: $warning-btn-active;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  }

  &.disabled {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

    span {
      opacity: 0.5;
    }
  }
}

.icon-btn {
  @extend .default-btn;
  width: 123px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35px;
    height: 35px;
  }

}

a {
  @extend button;
}

// Dropdown
.dropdown {
  &>.btn {
    width: 206px;
    height: 32px;
    border-radius: 2px;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    box-shadow: none;
    outline: none;
    text-transform: capitalize;
    font-size: 13.5px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    font-stretch: normal;
    opacity: 1;
    // Override bootstrap css
    border: solid 1px #bcd8f5 !important;
    background-color: transparent !important;
    color: #bcd8f5 !important;
    box-shadow: none !important;

    &:after {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &:hover {
      border: solid 1px #bcd8f5;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    background-color: rgb(47, 59, 74);
    border-radius: 2px;
    // border: solid 1px rgba(197, 225, 255, 0.2);
    margin: 0;
    border-top: none;
    width: 206px;

    .dropdown-item {
      font-size: 13.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.3px;
      text-align: left;
      color: #bcd8f5;
      text-transform: capitalize;

      &:hover {
        background-color: #52667b;
        cursor: pointer;
      }
    }
  }
}

.input {
  width: 206px;
  height: 30px;
  border-radius: 2px;
  background-color: rgba(55, 67, 83, 0.5);
  border: none;
  font-size: 13.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(197, 225, 255, 0.8);
  padding-left: 10px;

}
