$dark : #232d38; //main bg color
$charcoal-grey : #34404c;
$slate : #455666;
$slate-two : #3c4a58;
$robins-egg : #6cfff8;
$carnation : #ff6c91;
$warning: #ff4d6a;
$tiffany-blue : #65efe8;
$light-blue-grey : #b7d2ee;
$primary-text: #c5e1ff;
