$dark : #232d38; //main bg color
$charcoal-grey : #34404c;
$slate : #455666;
$slate-two : #3c4a58;
$carnation : #ff6c91;
$warning: #ff4d6a;
$light-blue-grey : #b7d2ee;
$primary-text: #c5e1ff;
$robins-egg : #6cfff8;
$tiffany-blue : #65efe8;
$primary-btn-hover: #5ee5df;
$primary-btn-active: #4fc7c1;
$default-btn: #2d3a48;
$default-btn-hover: #314153;
$default-btn-active: #3d5064;
