<div *ngIf="device" class="tooltip-wrapper">
  <div class="tooltip-header">
    <div class="device-name">{{device.name}}</div>
    <i class="close-icon fa fa-close" (click)="closeTooltip()"></i>
  </div>
  <div *ngIf="device.tip" class="tooltip-content">
    <div class="field">
      <div *ngIf="device.tip?.device">
        <div class="field-name">Device: {{device.tip.device === 'N/A' ? 'N/A' : ''}}</div>
        <div *ngIf="device.tip?.device !== 'N/A'" class="field-value">{{device.tip.device}}</div>
      </div>
      <div *ngIf="device.tip?.ip">
        <div class="field-name">IP: {{device.tip.ip === 'N/A' ? 'N/A' : ''}} </div>
        <div *ngIf="device.tip?.ip !== 'N/A'" class="field-value">{{device.tip.ip }}</div>
      </div>
      <div *ngIf="device.tip?.mac">
        <div class="field-name">MAC: {{device.tip.mac === 'N/A' ? 'N/A' : ''}} </div>
        <div *ngIf="device.tip?.mac !== 'N/A'" class="field-value">{{device.tip.mac}}</div>
      </div>
      <div *ngIf="device.tip?.phone_number">
        <div class="field-name">Phone Number: {{device.tip.phone_number === 'N/A' ? 'N/A' : ''}}</div>
        <div *ngIf="device.tip?.phone_number !== 'N/A'" class="field-value">{{device.tip.phone_number}}</div>
      </div>
    </div>
  </div>
</div>
